html{
  background-image: url('duotone.jpg');
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
.main-div{
  display: flex;
  justify-content: center;
  margin-right: 629px;
  padding: 50px;
}
.login-container{
  position: absolute;
  background-color: #eee;
  top: 30px;
  height: 463px;
  width: 292px;
  margin-left: 88px;
  padding: 10px;
}
.image-container{
  width: 50%; 
  height: 20%;
  padding: 10px;
}
p{
    text-align: center;
}
.bttn{
    margin-top: 40px;
}
.textLogin{
   text-align: center;
   width:80%;
   padding: 10px;
}
.input-container {
  display: flex;
  padding: 6px;
  width: 106%;
  margin-bottom: 16px;
  margin-left: 3px;
}
.icon {
    color: black;
    min-width: 50px;
    margin-right: -12px;
    padding: 10px;
    background: dodgerblue;
    min-width: 48px;
}
.button {
    background-color: dodgerblue;
    color: white;
    padding: 15px ;
    border: none;
    cursor: pointer;
    width:70%;
    opacity: 0.9;
    border-radius: 10px;
    margin: 12px;
}
.right-box{
  position: absolute;
  margin-left: 376px;
  background-color: #eee;
  top: 30px;
  height: 463px;
  width: 295px;
  padding: 20px;
  border-left: 1px solid lightgray;
}
#Div2 {
  display: none;
}




  

